.home-houses-container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
    max-width: 100vw;
    margin-bottom: 3rem;
    overflow: hidden;
}