<section class="house-details__container">
    <img class="house-details__image" src="{{houseData?.photo}}" alt="Exterior photo of {{'HOUSE'}}"/>
    <article class="house-details__content">
        <h2 class="house-details__name">{{houseData?.name}}</h2>
        <span class="house-details__location">
            <fa-icon class="house-details__location-icon" [icon]="locationIcon"></fa-icon>
            <p class="house-details__location-info">{{houseData?.city}}, {{houseData?.state}}</p>
        </span>
        <h3>About this housing location</h3>
        <div class="house-details__information">
            <p>Units available: {{houseData?.availableUnits}}</p>
            <p>Does this location have wifi: {{houseData?.wifi ? "Yes" : "No"}}</p>
            <p>Does this location have laundry: {{houseData?.laundry ? "Yes" : "No"}}</p>
        </div>
        <h3>Apply now to live here</h3>
    </article>
</section>